<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/ajax.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <button onclick="login()">Login</button>
    <a href="/register">Register</a>
    <div id="name"></div>
</body>
</html>